.knbox-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .sidebar-container {
    flex: 0 0 auto; /* Adjust this width according to Element5's max-width */
    background-color: #FCFCFC; /* Optional: to match Element5's styling */
    padding-right: 25px; /* Add padding to move it to the right */
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    background-color: #FCFCFC; 
    width: 100%;
    padding: 20px; /* Optional: adjust as needed */
  }
  
  .content-container > * {
    margin-bottom: 20px; /* Space between Element4 and Element3 */
  }
  
  .content-container > :last-child {
    margin-bottom: 0; /* Remove bottom margin from the last child */
  }
  